@media (max-width:500px) {
    body{
        background-image: url(/images/pattern-background-mobile.svg);
    }

    main{
        width: 350px;
        height: 600px;
        border-radius: 20px;
        background-color: white;
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .order-body{
        padding: 20px 30px; 
     }

    .order-text{
       padding: 0 10px;
    }

    footer {display: none;}
}